<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>
      <li>
        <a href="./page-3.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-4.html" class="nav-link">Page 4</a>
      </li>
      <li class="nav-item">
        <a href="./page-5.html" class="nav-link">Page 5</a>
      </li>
      <li class="nav-item">
        <a href="./page-6.html" class="nav-link">Page 6</a>
      </li>
    </ul>
  </nav>
</header>
